{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="vinayak sharma">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link  href="{% sass_src 'setpassword.scss' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
  <title>My First Django</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function handleSignup(){
      window.location.href = "{% url 'signup' %}"; 
    }
    function handleLogin(){
      window.location.href = "{% url 'login' %}"; 
    }
    function setPassword(){
    }
  </script>
  </head>
<body>
  <div>
    <div>
      <div class="menu-bar">
      <div class="logo-size1"></div>
      <div class="button-container">
        <button class="btn-login" onclick="handleLogin()">Log in</button>
        <button class="btn-signup btn-eff" onclick="handleSignup()">Sign up</button>
      </div>
      </div>
    </div>
    <div class="Login-page">
      <div class="Login-back">
       <div class="logo-container">
        <img src="../../static/image/Logo111.png" alt="Logo" />
       </div>
      </div>
      <div class="Login-set">
        <div class="login-container">
          <div class="title">
           <p class="text">Create Password</p>
           <p class="text1">
            Set your security password. Recommended <br />
            usage of at least 1 number, 1 uppercase letter<br />
            and 1 special character
           </p>
          </div>
          <div class="log-in">
           <div class="input-group">
            <div class="symbol">
             <img src="../../static/image/Icon4.png" alt="src" />
            </div>
            <input
             type="email"
             class="input-control"
             required
             placeholder="Enter password"
            />
           </div>
           <div class="input-group">
            <div class="symbol">
             <img src="../../static/image/Icon4.png" alt="src" />
            </div>
            <input
             type="text"
             class="input-control"
             required
             placeholder="Confirm Password"
            />
           </div>
           <button type="button" class="button3 but-style" onclick="setPassword()">Submit</button>
           <button class="btnreset but-style" onclick="handleLogin()">
            I already have an account
           </button>
         </div>
         <div class="browser">
          <button class="button-style">
        <img src="../../static/image/Vector.png" alt="" />
          </button>
          <button class="button-style">
        <img src="../../static/image/metamask-icon logo.png" class="metamask" alt="" />
        <img src="../../static/image/Group.png" class="instegram" alt="" />
          </button>
          <button class="button-style">
        <img src="../../static/image/twitter logo1.png" alt="" />
          </button>
         </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>