body {
  margin: 0; }

.dashboard-back {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(181.71deg, rgba(246, 232, 234, 0.24) -5%, rgba(249, 240, 230, 0.24) 37.12%, rgba(244, 158, 109, 0.24) 143.7%);
  background-image: url("../../static/image/Rectangle 5986.svg"), url("../../static/image/Group.svg");
  background-size: cover; }

.dashbar {
  width: 100%;
  height: 136px; }

.focus-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  width: 100%;
  padding: 33px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1; }

.logo-size2 {
  width: 70px;
  height: 70px;
  background-image: url("../../static/image/Logo.png");
  background-size: cover; }

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.btn-container div {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-Focus {
  display: flex;
  height: 56px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center; }

.btn-underline {
  border-bottom: 3px solid red;
  border-image: linear-gradient(90deg, #845DEA 0%, #EB5DB9 99.7%);
  border-image-slice: 1; }

.btn-style {
  display: flex; }

.btn-p {
  font-family: Syne;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 5px;
  color: black; }

.btn-menu {
  display: none; }

.btn-log {
  display: block; }

h1 {
  font-family: Syne;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-align: center; }

.focus-menu {
  width: 90%;
  margin: 0px auto 48px;
  padding: 0 0 60px;
  box-sizing: border-box;
  border-radius: 24px;
  background: #F8E6D940; }
  .focus-menu .focus-title {
    width: 100%;
    height: 53px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background: #F5EBE0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .focus-menu .focus-title button {
      cursor: pointer;
      background: #F8EEE3;
      margin: 0px;
      padding: 0px;
      width: 200px;
      height: 52px;
      border: none;
      border-bottom: 3px solid red;
      border-image: linear-gradient(90deg, #845DEA 0%, #EB5DB9 99.7%);
      border-image-slice: 1;
      box-shadow: -1px 4px 9px 0px #CCA8807D;
      font-family: Cairo;
      font-size: 23px;
      font-weight: 700;
      line-height: 35px;
      letter-spacing: 0em;
      text-align: center; }
    .focus-menu .focus-title button:nth-child(even) {
      color: #B890AA;
      font-size: 16px;
      box-shadow: none;
      border: none; }
  .focus-menu .focus-main {
    width: 90%;
    height: 80%;
    top: 50px;
    margin: auto; }
    .focus-menu .focus-main .focus-head {
      height: 25%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .focus-menu .focus-main .focus-head .tex-g h6 {
        margin: 10px;
        padding: 0px 0px 10px 10px;
        text-align: left;
        font-family: Cairo;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #654657; }
      .focus-menu .focus-main .focus-head .tex-g .tex-1 {
        display: flex;
        align-items: center; }
        .focus-menu .focus-main .focus-head .tex-g .tex-1 p {
          font-family: Cairo;
          font-size: 40px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          margin: 0px 20px; }
        .focus-menu .focus-main .focus-head .tex-g .tex-1 span {
          font-family: Cairo;
          font-size: 20px;
          font-weight: 700;
          background-image: linear-gradient(88.56deg, rgba(151, 45, 167, 0.78) -17.82%, rgba(235, 47, 131, 0.78) 26.14%, rgba(252, 152, 103, 0.78) 64.88%, rgba(255, 214, 46, 0.78) 98.35%);
          background-clip: text;
          color: transparent; }
      .focus-menu .focus-main .focus-head .btn-add {
        cursor: pointer;
        font-family: Syne;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        width: 327px;
        height: 57px;
        padding: 16px;
        border: 1px solid;
        border-radius: 12px;
        background: linear-gradient(90.63deg, rgba(231, 62, 173, 0.78) 9.11%, rgba(231, 38, 165, 0.78) 41.9%, rgba(233, 76, 123, 0.78) 70.8%, rgba(234, 39, 121, 0.78) 90.16%);
        border-image-source: linear-gradient(180deg, #C03366 0%, rgba(196, 38, 142, 0) 100%);
        box-shadow: 0px 4px 4px 0px #00000040; }
    .focus-menu .focus-main .hr {
      height: 2px;
      background-color: #F3DEC4; }
    .focus-menu .focus-main .focus-field {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .focus-menu .focus-main .focus-field p {
        width: inherit;
        margin: 80px;
        font-family: Syne;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 40px;
        text-align: center;
        color: #654657; }
        .focus-menu .focus-main .focus-field p span {
          height: 44px;
          font-size: 16px;
          letter-spacing: 0em;
          line-height: 20px; }
      .focus-menu .focus-main .focus-field .more-button {
        margin: 0px auto;
        cursor: pointer;
        width: 28%;
        height: 46px;
        background: linear-gradient(113.87deg, rgba(221, 86, 144, 0.1) 14.81%, rgba(252, 181, 97, 0.1) 88.76%);
        border: none;
        border-radius: 10px;
        font-family: Syne;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center; }

.input-size {
  margin: auto;
  width: 80%; }

.input-grouparea {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  gap: 12px;
  background-color: #FFFFFF; }
  .input-grouparea div {
    height: inherit;
    width: 100px;
    position: relative; }
    .input-grouparea div h4 {
      position: absolute;
      top: 0; }

textarea {
  width: 80%;
  height: 120px;
  font-family: Cairo;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #24262D;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #f1f1f1; }

.hidden {
  display: none; }

.focusfooter-menu {
  width: calc(100% - 200px);
  padding: 40px 100px 40px 100px;
  border-top: 4px solid #E94C68B2;
  border-radius: 20px 20px 0px 0px;
  gap: 10px;
  background: linear-gradient(41.32deg, #FFDA65 22.85%, #FD9C67 87.27%); }
  .focusfooter-menu .focusfooter-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .focusfooter-menu .focusfooter-field .focusfooter-mark {
      width: 284px;
      height: 280px; }
      .focusfooter-menu .focusfooter-field .focusfooter-mark .logo-size3 {
        display: flex; }
        .focusfooter-menu .focusfooter-field .focusfooter-mark .logo-size3 img {
          width: 280px;
          height: 150px;
          align-self: center; }
      .focusfooter-menu .focusfooter-field .focusfooter-mark .gap2 {
        height: 44px; }
      .focusfooter-menu .focusfooter-field .focusfooter-mark .btn_eff {
        background: linear-gradient(113.87deg, #DD5690 14.81%, #FDB95F 88.76%);
        border: none;
        box-shadow: 0px 6px 18px 0px #F2A69C;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        padding: 19px 0px;
        margin: 0 0 30px;
        color: white;
        font-family: Syne;
        font-size: 16px;
        font-weight: 700;
        text-align: center; }
    .focusfooter-menu .focusfooter-field .focusfooter-dec {
      width: 946px;
      height: 282px;
      gap: 17px; }
      .focusfooter-menu .focusfooter-field .focusfooter-dec .mark-btn {
        width: 140px;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .focusfooter-menu .focusfooter-field .focusfooter-dec .mark-btn .btn-opa {
          background: #FEB966;
          width: 54px;
          height: 54px;
          border: none;
          border-radius: 26px;
          gap: 10px;
          cursor: pointer; }
      .focusfooter-menu .focusfooter-field .focusfooter-dec p {
        height: 106px;
        font-family: Cairo;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: #24262D; }
        .focusfooter-menu .focusfooter-field .focusfooter-dec p span {
          font-weight: 400;
          color: #654657; }
      .focusfooter-menu .focusfooter-field .focusfooter-dec .mark-img {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        height: 50px; }
        .focusfooter-menu .focusfooter-field .focusfooter-dec .mark-img img {
          width: 95px;
          height: 50px; }
  .focusfooter-menu .hr1 {
    display: block;
    width: 100%;
    height: 2px;
    margin: 0px auto;
    background: linear-gradient(90deg, #FFDA65 -0.73%, #FEB266 -0.72%, #FFDA65 101.17%); }
  .focusfooter-menu .focusfooter-des {
    width: 100%;
    height: 30px;
    font-family: Cairo;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #654657; }

@media (max-width: 1300px) {
  .btn-container {
    display: none; }
  .btn-log {
    display: none; }
  .btn-menu {
    display: block;
    margin: 0px 30px; } }

@media (max-width: 375px) {
  .focus-bar {
    width: 375px; } }

/*# sourceMappingURL=dashboard.css.map */